.animated{
	-webkit-transition:margin-left 0.5s;
	-moz-transition:margin-left 0.5s;
	-ms-transition:margin-left 0.5s;
	-o-transition:margin-left 0.5s;
	transition:margin-left 0.5s;
}

.bg-yellowTS {
	background: #FFDE59;
}

.img-100 {
    width: 100%;
}

.img-95 {
    width: 95%;
}

.img-90 {
    width: 90%;
}

.img-80 {
    width: 80%;
}

.img-70 {
    width: 70%;
}

.img-60 {
    width: 60%;
}

.img-50 {
    width: 50%;
}
.img-40 {
    width: 40%;
}

.tri_l{
    width: 0px;
    height: 0px;
    border-top: solid 15px transparent;
    border-left: solid 15px black;
    border-bottom: solid 15px transparent;
}

.tri_r{
    width: 0px;
    height: 0px;
    border-top: solid 15px transparent;
    border-right: solid 15px black;
    border-bottom: solid 15px transparent;
}