@media only screen and (min-width: 945px) and (max-width: 1400px) {
    .posicion-boton {
        margin-top: -15% !important;
    }

    .text-btn {
        font-size: 9px !important;
    }
}

@media only screen and (max-width: 940px) {
    .posicion-boton {
        margin-top: -18% !important;
    }

    .text-btn {
        font-size: 8px !important;
    }
}

@media only screen and (max-width: 800px) {
    .posicion-boton {
        margin-top: -20% !important;
    }

    .text-btn {
        font-size: 8px !important;
    }
}

@media only screen and (max-width: 680px) {
    .posicion-boton {
        margin-top: -30% !important;
    }

    .text-btn {
        font-size: 8px !important;
    }
}

@media only screen and (max-width: 524px) {
    .posicion-boton {
        margin-top: -55% !important;
    }

    .text-btn {
        font-size: 8px !important;
    }
}